* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}
.img {
    max-width: 160px;
}

header {
    text-align: center;
    background-color: black;
}
h1 {
    text-align: center;
    color: yellow;
    font-family: georgia, "Times New Roman", serif;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}